.cards > ul {
  display: flex;
  font-size: 15px;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 0;
}

.cards > ul > li .icon:last-of-type {
  margin-left: auto
}

.cards > ul > li .icon:first-of-type {
  height: 36px;
  width: 36px;
  margin-left: unset;
}

.cards > ul > li  p:first-of-type {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  height: 2rem;
}

.cards > ul > li  p:nth-child(2) {
  color: #6e6e6e;
  height: 3rem;
}

.cards > ul > li {
  border: 1px solid #dadada;
  border-radius: 4px;
  background-color: var(--background-color);
  height: 200px;
  width: 270px;
}

.cards .cards-card-body {
  margin: 16px;
  display: flex;
  flex-direction: column;
}

.cards .cards-card-image {
  line-height: 0;
}

.block.cards {
  margin-top: 3rem;
}

.block.cards a {
  background-color: white;
  color: black;
  border-color: #b1b1b1;
}

.block.cards a:hover {
  background-color: #b1b1b1;
  color: black;
}
