header .default-content-wrapper {
  display: flex;
  font-size: 14px;
  border-bottom: 1px solid #00000014;
  height: 64px;
  padding: 0 12px;
  width: 100%;
  box-sizing: border-box;
  justify-content: space-between;
  margin-top: 0; 
}

.block.header {
  position: fixed;
  width: 100%;
  background-color: white;
  z-index: 1000;
}

header {
  margin: 0;
}

header p {
  display: flex;
  gap: 0.25rem;
  align-items: center;
  margin: 0;
  line-height: 1.5;
  font-weight: 700;
  color: #4b4b4b;
  font-family: var(--heading-font-family);
}

header p:first-of-type a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #4b4b4b;
  gap: 0.25rem;
}

header p:first-of-type a:hover {
  color: #4b4b4b;
  text-decoration: none;
}

header p:last-of-type {
  gap: 1.5rem;
}

header span.icon {
  height: 18px;
  width: 18px;
}

header p:first-of-type span.icon {
  height: 26px;
  width: 26px;
}

@media (width >= 1200px) {
  header .default-content-wrapper {
    padding: 0 24px;
  }
}
