.hero-container .hero-wrapper {
  max-width: unset;
  padding: 0;
}

.block.hero {
  position: relative;
  padding: 41px 32px 0;
  margin-bottom: 0;
}

.block.hero h1 {
  margin: 0;
  font-size: 44px;
  font-style: normal;
}

.block.hero .icon.icon-hero-icon {
  display: none;
}

.block.hero > div {
  display: flex;
}

.block.hero > div > div:first-of-type {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media (width >= 768px) {
  .block.hero {
    margin: 53px 0 0;
    padding: 26px 150px 0 64px;
  }  

  .block.hero h1 {
    font-size: 60px;
  }
}

@media (width >= 1281px) {
  .block.hero h1 {
    margin: 0;
  }

  .block.hero .icon.icon-hero-icon {
    height: unset;
    width: unset;
    display: block;
  }

  .block.hero > div {
    gap: 8rem;
  }

  .block.hero > div > div:first-of-type {
    width: 42%;
  }

  .block.hero {
    padding: 26px 64px 0 150px;
    margin: 53px 0 37px;
    padding-top: 0;
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 0;
  }
}
