footer {
  font-size: var(--body-font-size-xs);
  padding: 40px 16px 48px;
}

footer .footer ul {
  display: flex;
  padding: 0;
  flex-flow: row wrap;
  gap: 0.25rem;
  margin: 0;
}

footer .footer ul a {
  color: var(--black);
}

footer .footer li {
  list-style: none;
  text-wrap: nowrap;
}

footer .default-content-wrapper {
  display: flex;
  gap: 1rem;
  font-size: 14px;
  flex-direction: column;
  justify-content: space-between;
}

footer .icon.icon-globe {
  height: 18px;
  width: 18px;
}

footer p {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  margin: 0;
}

footer ul li a:any-link {
  text-decoration: underline;
}

@media (width >= 1000px) {
  footer .default-content-wrapper {
    flex-direction: row;
  }
}
